@import "../styles/variables";

.Logement {
    .cover {
        // height: 400px;
    }
    .content {
        .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            h1, h3 {
                font-weight: 500;
                color: $red;
            }
            h1 {
                font-size: 36px;
            }
            h3 {
                font-size: 18px;
                margin-top: -15px;
            }
            .owner_rates {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .textuals {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            margin-bottom: 100px;
        }
    }
}
