

.About {
    display: flex;
    // height: 100%;
    // flex: 1;
    flex-direction: column;
    // margin-bottom: auto;
    .photo_title {
        display: none;
    }
}

@media (max-width: 964px) {

}

@media (max-width: 768px) {

}
